@import "tailwindcss";

@font-face {
  font-family: "Dana";
  src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/woff2/Morabba-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    direction: rtl;
  }

  body {
    @apply bg-[#0F172A] text-slate-100;
    font-family: "Dana", sans-serif;
  }
}
